[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Application to organise lending/borrowing books.
[access "refs/*"]
	owner = group user/SzczwanyJez (the3team)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/SzczwanyJez (the3team)
	label-Verified = -1..+1 group user/SzczwanyJez (the3team)
	push = group user/SzczwanyJez (the3team)
	read = group user/SzczwanyJez (the3team)
	rebase = group user/SzczwanyJez (the3team)
	removeReviewer = group user/SzczwanyJez (the3team)
	submit = group user/SzczwanyJez (the3team)
[access "refs/heads/*"]
	create = group user/SzczwanyJez (the3team)
	push = +force group user/SzczwanyJez (the3team)
	pushMerge = group user/SzczwanyJez (the3team)
	read = group user/SzczwanyJez (the3team)
[access "refs/tags/*"]
	push = group user/SzczwanyJez (the3team)
	push = +force group user/SzczwanyJez (the3team)
